.imgagem{
    max-width: 50px;
    padding:0px;
    margin-left:10px;
    margin-bottom: 10px;

}
.headerContent{   
   
    background: #007F3D;
    height: 65px;
    min-height: 65px;
    width: 961px;
    right: 0;
    top: 0;
    left: auto;
    position: absolute; 
} 

.itensHeader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}