.imgagem{
    max-width: 50px;
    padding:0px;
    margin-left:10px;
    margin-bottom: 10px;

}
.headerContent{   
    display:flex;
    background: #007F3D;
    height: 65px;
    min-height: 65px;
    width: 960px;
    right: 0;
    top: 0;
    left: auto;
    /* position: absolute;  */
    flex-shrink: 0;
   
} 

.itensHeader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex:5;
}